@charset "UTF-8";
      body {
        font-family: sans-serif;
        text-align: center;
        padding-top: 50px;
      }
      h1,
      h2 {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 40px;
      }
      .game-buttons a {
        display: inline-block;
        font-size: 1.2em;
        padding: 15px 30px;
        margin: 10px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      .game-buttons a:hover {
        background-color: #0056b3;
      }